<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Sign Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required onchange="previewImage(event)">
        <button type="submit">Detect</button>
    </form>
    <img id="preview" alt="Image Preview">

    <script>
        function previewImage(event) {
            const file = event.target.files[0];  
            const preview = document.getElementById('preview');  
            const reader = new FileReader();
            reader.onload = function() {
                preview.src = reader.result; 
                preview.style.display = 'block';  
            }
            if (file) {
                reader.readAsDataURL(file);  
            }
        }
    </script>

</body>
</html>
